services:
  gluetun-nzbget:
    image: qmcgaw/gluetun
    container_name: nzbget
    hostname: nzbget
    cap_add:
      - NET_ADMIN
    ports:
      - 2380:80
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${HOME_DIR}/gluetun/wireguard:/gluetun/wireguard
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - HOME_DIR
    restart: unless-stopped
    dns:
        - 1.1.1.1
  gluetun-qbittorrent:
    image: qmcgaw/gluetun
    container_name: qbittorrent
    hostname: qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 2480:8080
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - ${HOME_DIR}/gluetun/wireguard:/gluetun/wireguard
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - HOME_DIR
    dns:
      - 1.1.1.1
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK=002
      - HOME_DIR
    volumes:
      - ${HOME_DIR}/prowlarr/config:/config
    ports:
      - 2080:80
    restart: unless-stopped
  sonarr:
    image: linuxserver/sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=America/New_York
      - HOME_DIR
    volumes:
      - ${HOME_DIR}/sonarr/config:/config
      - media:/share
    ports:
      - 2180:80
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK=002
      - HOME_DIR
    volumes:
      - ${HOME_DIR}/radarr/config:/config
      - media:/share
    ports:
      - 2280:80
    restart: unless-stopped
  nzbget:
    image: linuxserver/nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - UMASK=002
      - HOME_DIR
    network_mode: service:gluetun-nzbget
    volumes:
      - ${HOME_DIR}/nzbget/config:/config
      - media:/share
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
      - UMASK=002
      - HOME_DIR
    network_mode: service:gluetun-qbittorrent
    volumes:
      - ${HOME_DIR}/qbittorrent/appdata:/config
      - media:/share #optional
    restart: unless-stopped
  jellyseerr:
    image: ghcr.io/fallenbagel/jellyseerr:latest
    init: true
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=America/New_York
      - PORT=5055 #optional
      - HOME_DIR
    ports:
      - 5055:5055
    volumes:
      - ${HOME_DIR}/jellyseer/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  plex:
    ports:
      - 32400:32400/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    image: plexinc/pms-docker
    container_name: plex
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - TZ=America/New_York
      - HOME_DIR
      - ADVERTISE_IP="http://192.168.50.7:32400/"
    volumes:
      - ${HOME_DIR}/plex/config:/config
      - ${HOME_DIR}/plex/transcode:/transcode
      - media:/share
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
volumes:
  media:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.50.3,nolock,nfsvers=4.1,soft"
      device: ":/volume1/media"
